// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


//reputation management
.firstsection {position: fixed; font-family: futura-pt, sans-serif; background: url('spaceshipbackground.png'); width: 100%; min-height: 800px; height: auto; padding: 0; margin: 0;}
.firstsection h1 {float: left; width: 100%; text-align: center; margin: 100px 0 0 0; color: #fff; font-size: 48px;}
.firstsection h2 {float: left; width: 100%; text-align: center; margin: 10px 0 0 0; color: #fff799; font-size: 20px;}
.box1 {width: 50%; float: left; margin: 75px 0 0 0; padding: 0 5% 0 10%;}
.box1 h1 {font-size: 56px; line-height: 60px; color: #fff; text-align: center; font-weight: 700; margin: 40px 0 0 0; padding: 0;}
.box1 h3 {font-size: 16px; color: #fff; font-style: italic; text-align: center; margin: 10px 0; padding: 0;}
.box1 h3 a {color: #fff;}
.box1 h3 a:hover {color: #f0c514; text-decoration: none;}

.tempbox {width: 100%; float: left; margin: 25px 0 0 0; padding: 0;}
.tempbox h1 {font-size: 56px; line-height: 60px; color: #fff; text-align: center; font-weight: 700; margin: 40px 0 0 0; padding: 0;}
.tempbox h3 {font-size: 16px; color: #86d9f8; font-style: italic; text-align: center; margin: 50px 0 15px 0; padding: 0; font-weight: 300;}
.tempbox h3 a {color: #fff;}
.tempbox h3 a:hover {color: #f0c514; text-decoration: none;}
.actionbox4 a {color: #fff; text-decoration: none;}

.actionbox {float: left; width: 80%; margin: 25px 10% 15px 10%; padding: 5px; background-color: #20a286; color: #fff; text-align: center; font-size: 18px; line-height: 22px; font-weight: lighter;}
.actionbox4 {float: left; width: 50%; margin: 25px 25% 15px 25%; padding: 15px 5px; background-color: #3498db; color: #fff; text-align: center; font-size: 18px; line-height: 22px; font-weight: lighter;}
.videobox {float: left; width: 50%; margin: 75px 0 0 0; padding: 0 10% 0 5%;}
.actionbox:hover {background-color: #fff799; color: #000;}
.actionbox4:hover {background-color: #fff799; color: #000;}
.actionbox4:hover a {color: #000;}

.secondsection {float: left; font-family: futura-pt, sans-serif; width: 100%; margin: 20px 0; background-color: #fff;}
.secondsection ul {float: left; width: 100%; list-style-type: none; margin: 0; padding: 25px 5%;}
.secondsection ul li {float: left; width: 23%; margin: 0 1%; height: auto;}

.picbox {float: left; width: 50%; margin: 75px 0 0 0; padding: 0 5% 0 10%;}
.picbox img {float: left; width: 100%; margin: 0; padding: 0;}
.box2 {width: 50%; float: left; margin: 75px 0 0 0; text-align: center; padding: 15px 10% 0 5%; color: #20a286; font-size: 30px; line-height: 32px;}
.actionbox2 {float: left; width: 80%;  margin: 25px 10% 15px 10%; padding: 10px 5px; background-color: #20a286; color: #fff; text-align: center; font-size: 18px; line-height: 22px; font-weight: 700; text-transform: uppercase;}
.box2 h3 {font-size: 16px; font-style: italic; text-align: center; margin: 10px 0; padding: 0; color: #20a286;}
.box2 h3 a {color: #20a286;}
.box2 h3 a:hover {color: #000; text-decoration: none;}
.actionbox2:hover {background-color: #fff799; color: #000;}

.thirdsection {float: left; font-family: futura-pt, sans-serif; width: 100%; margin: 0; padding: 50px 5% 15px 5%; background-color: #e1e1e1;}
.thirdsection h1 {float: left; text-align: center; width: 100%; font-size: 48px; color: #000;}
.thirdsection h2 {float: left; width: 100%; text-align: center; margin: 10px 0 0 0; color: #000; font-size: 20px;}
.processbox {float: left; width: 31%; margin: 50px 1%; padding: 0;}
.processbox img {float: left; width: 90%; margin: 0 5%;}
.processbox h1 {float: left; width: 100%; text-align: center; font-size: 36px; font-weight: 700; color: #000;}
.processbox ul {float: left; width: 100%; margin: 0; padding: 0;}
.processbox ul li {float: left; width: 100%; margin: 5px 0; padding: 0;}

.fourthsection {float: left; font-family: futura-pt, sans-serif; width: 100%; margin: 0; padding: 50px 5%; background-color: #fff799;}
.fourthsection h1 {float: left; width: 100%; text-align: center; color: #000; font-size: 48px; margin: 25px 0; padding:0;}
.featurebox {float: left; text-align: center; width: 33.33%; height: auto; padding: 25px 5px; color: #000;}
.featurebox i {color: #e35d4f; font-size: 60px; text-align: center;}
.featurebox h2 {float: left; color: #000; font-size: 24px; font-weight: 700; text-align: center; width: 100%;}
.featurebox p {float: left; color: #000; font-size: 18px; line-height: 22px; text-align: center; width: 100%;}

.fifthsection {float: left; font-family: futura-pt, sans-serif; width: 100%; margin: 0; background-color: #20a286;}
.fifthsection .headertitle {float: left; text-align: center; font-size: 56px; color: #000; padding: 10px 5px 25px 5px; width: 100%;}
.planbox {float: left; width: 50%; padding: 25px 5%;}
.planbox h1 {float: left; text-align: center; width: 100%; font-size: 24px; color: #000; margin: 15px 0;}
.box3 {width: 100%; float: left; margin: 0 0 0 0; text-align: center; padding: 0; color: #fff; font-size: 18px; line-height: 22px;}
.box4 {width: 50%; float: left; margin: 25px 0 0 0; text-align: center; padding: 15px 10% 0 5%; color: #fff;}
.boldline {float: left; width: 80%; margin: 25px 10%; color: #fff; height: 25px;}

.sixthsection {float: left; font-family: futura-pt, sans-serif; width: 100%; margin: 0; padding: 100px 5%; background-color: #fff;}
.sixthsection h1 {float: left; width: 100%; text-align: center; margin: 25px 0; color: #000; font-size: 36px;}
.tablebox {float: left; width: 100%; margin: 0; padding: 0;}
.tablecolumn {float: left; width: 24%; margin: 0 .5%; padding: 20px 2%; border: 2px solid #d3d3d3; text-align: center;}
.tablecolumn h1 {float: left; text-align: center; width: 100%; font-size: 24px; color: #000;}
.plancontent {float: left; font-size: 14px; line-height: 16px; color: #a3a3a3; padding: 10px 0;}
.pricing {float: left; width: 100%; text-align: center; font-size: 16px; line-height: 16px; color: #d3d3d3; margin: 15px 0;}
.bigfont {font-size: 36px; line-height: 36px; color: #000; font-weight: 700;}
.menulist {float: left; padding: 25px 0; width: 100%;}
.menulist ul {float: left; width: 100%; margin: 0; padding: 0; list-style-type: none;}
.menulist ul li {float: left; width: 100%; margin: 3px 0; padding: 0; font-size: 14px; line-height: 14px;}
.actionbox3 {float: left; width: 70%; margin: 25px 15% 15px 15%; padding: 5px; background-color: #fff; color: #20a286; text-align: center; font-size: 18px; line-height: 18px; font-weight: lighter;}
.actionbox3:hover {background-color: #fff; color: #000;}
.tablecolumn:hover {box-shadow: 2px 2px 2px #d3d3d3;}

.topnavheader {float: left; width: 100%; margin: 0; padding: 0; font-family: futura-pt, sans-serif; font-weight: 300; font-size: 20px; line-height: 20px; color: #fff;}
.navlist {float: right;}
.navlist ul {list-style-type: none; width: auto; margin: 25px 25px 0 0; padding: 0;}
.navlist ul li {float: left; padding: 0 15px;}
.navlist ul li a {color: #fff; font-weight: 700;}
.navlist ul li a:hover {color: #f0c514; text-decoration: none;}
.navlistmobile {float: right; display: none;}

.whitespace {color: #fff;}

.contactbox {float: left; font-family: futura-pt, sans-serif; width: 100%; margin: 0; padding: 50px 5%; background-color: #fff;}
.contactbox h1 {float: left; width: 100%; text-align: left; margin: 25px 0; color: #000; font-size: 36px;}
.contactbox ul {float: left; width: 100%; margin: 0; padding: 0; list-style-type: none;}
.contactbox ul li {float: left; width: 100%; margin: 3px 0; padding: 0; font-size: 18px; line-height: 18px;}


@media screen and (max-width: 640px){
	//reputation management
	.firstsection {float: left; font-family: futura-pt, sans-serif; background: url('spaceshipbackground-mobile.png'); width: 100%; min-height: 600px; height: auto; padding: 0; margin: 0;}
	.firstsection h1 {float: left; width: 100%; text-align: center; margin: 50px 0 0 0; color: #fff; font-size: 36px;}
	.firstsection h2 {float: left; width: 100%; text-align: center; margin: 10px 0 0 0; color: #fff799; font-size: 20px;}
	.box1 {width: 50%; float: left; margin: 75px 0 0 0; padding: 0 5% 0 10%;}
	.box1 h1 {font-size: 56px; line-height: 60px; color: #fff; text-align: center; font-weight: 700; margin: 40px 0 0 0; padding: 0;}
	.box1 h3 {font-size: 16px; color: #fff; font-style: italic; text-align: center; margin: 10px 0; padding: 0;}
	.box1 h3 a {color: #fff;}
	.box1 h3 a:hover {color: #f0c514; text-decoration: none;}

	.tempbox {width: 100%; float: left; margin: 50px 0 0 0; padding: 0 5% 0 5%;}
	.tempbox h1 {font-size: 48px; line-height: 52px; color: #fff; text-align: center; font-weight: 700; margin: 20px 0 0 0; padding: 0;}
	.tempbox h3 {font-size: 16px; color: #fff; font-style: italic; text-align: center; margin: 10px 0; padding: 0;}
	.tempbox h3 a {color: #fff;}
	.tempbox h3 a:hover {color: #f0c514; text-decoration: none;}

	.actionbox {float: left; width: 80%; margin: 25px 10% 15px 10%; padding: 5px; background-color: #20a286; color: #fff; text-align: center; font-size: 18px; line-height: 22px; font-weight: lighter;}
	.actionbox4 {float: left; width: 80%; margin: 25px 10% 15px 10%; padding: 5px; background-color: #3498db; color: #fff; text-align: center; font-size: 18px; line-height: 22px; font-weight: lighter;}
	.videobox {float: left; width: 50%; margin: 75px 0 0 0; padding: 0 10% 0 5%;}
	.actionbox:hover {background-color: #fff799; color: #000;}
	.actionbox4:hover {background-color: #fff799; color: #000;}
	.actionbox4:hover a {color: #000;}

	.secondsection {float: left; font-family: futura-pt, sans-serif; width: 100%; margin: 20px 0; background-color: #fff;}
	.secondsection ul {float: left; width: 100%; list-style-type: none; margin: 0; padding: 25px 5%;}
	.secondsection ul li {float: left; width: 23%; margin: 0 1%; height: auto;}

	.picbox {float: left; width: 100%; margin: 25px 0 0 0; padding: 0 5% 0 5%;}
	.picbox img {float: left; width: 100%; margin: 0; padding: 0;}
	.box2 {width: 100%; float: left; margin: 15px 0 0 0; text-align: center; padding: 15px 5% 0 5%; color: #20a286; font-size: 30px; line-height: 32px;}
	.actionbox2 {float: left; width: 80%;  margin: 25px 10% 15px 10%; padding: 10px 5px; background-color: #20a286; color: #fff; text-align: center; font-size: 18px; line-height: 22px; font-weight: 700; text-transform: uppercase;}
	.box2 h3 {font-size: 16px; font-style: italic; text-align: center; margin: 10px 0; padding: 0; color: #20a286;}
	.box2 h3 a {color: #20a286;}
	.box2 h3 a:hover {color: #000; text-decoration: none;}
	.actionbox2:hover {background-color: #fff799; color: #000;}

	.thirdsection {float: left; font-family: futura-pt, sans-serif; width: 100%; margin: 0; padding: 50px 5% 15px 5%; background-color: #e1e1e1;}
	.thirdsection h1 {float: left; text-align: center; width: 100%; font-size: 36px; color: #000;}
	.thirdsection h2 {float: left; width: 100%; text-align: center; margin: 10px 0 0 0; color: #000; font-size: 20px;}
	.processbox {float: left; width: 96%; margin: 10px 2%; padding: 0;}
	.processbox img {float: left; width: 90%; margin: 0 5%;}
	.processbox h1 {float: left; width: 100%; text-align: center; font-size: 36px; font-weight: 700; color: #000;}
	.processbox ul {float: left; width: 100%; margin: 0; padding: 0;}
	.processbox ul li {float: left; width: 100%; margin: 5px 0; padding: 0;}

	.fourthsection {float: left; font-family: futura-pt, sans-serif; width: 100%; margin: 0; padding: 50px 5%; background-color: #fff799;}
	.fourthsection h1 {float: left; width: 100%; text-align: center; color: #000; font-size: 36px; margin: 15px 0; padding:0;}
	.featurebox {float: left; text-align: center; width: 50%; height: auto; padding: 15px 5px; color: #000;}
	.featurebox i {color: #e35d4f; font-size: 60px; text-align: center;}
	.featurebox h2 {float: left; color: #000; font-size: 24px; font-weight: 700; text-align: center; width: 100%;}
	.featurebox p {float: left; color: #000; font-size: 18px; line-height: 22px; text-align: center; width: 100%;}

	.fifthsection {float: left; font-family: futura-pt, sans-serif; width: 100%; margin: 0; background-color: #20a286;}
	.fifthsection .headertitle {float: left; text-align: center; font-size: 56px; color: #000; padding: 10px 5px 25px 5px; width: 100%;}
	.planbox {float: left; width: 50%; padding: 25px 5%;}
	.planbox h1 {float: left; text-align: center; width: 100%; font-size: 24px; color: #000; margin: 15px 0;}
	.box3 {width: 100%; float: left; margin: 0 0 0 0; text-align: center; padding: 0; color: #fff; font-size: 18px; line-height: 22px;}
	.box4 {width: 50%; float: left; margin: 25px 0 0 0; text-align: center; padding: 15px 10% 0 5%; color: #fff;}
	.boldline {float: left; width: 80%; margin: 25px 10%; color: #fff; height: 25px;}

	.sixthsection {float: left; font-family: futura-pt, sans-serif; width: 100%; margin: 0; padding: 50px 5%; background-color: #fff;}
	.sixthsection h1 {float: left; width: 100%; text-align: center; margin: 25px 0; color: #000; font-size: 36px;}
	.tablebox {float: left; width: 100%; margin: 0; padding: 0;}
	.tablecolumn {float: left; width: 96%; margin: 5px 2%; padding: 20px 2%; border: 2px solid #d3d3d3; text-align: center;}
	.tablecolumn h1 {float: left; text-align: center; width: 100%; font-size: 24px; color: #000;}
	.plancontent {float: left; font-size: 14px; line-height: 16px; color: #a3a3a3; padding: 10px 0;}
	.pricing {float: left; width: 100%; text-align: center; font-size: 16px; line-height: 16px; color: #d3d3d3; margin: 15px 0;}
	.bigfont {font-size: 36px; line-height: 36px; color: #000; font-weight: 700;}
	.menulist {float: left; padding: 25px 0; width: 100%;}
	.menulist ul {float: left; width: 100%; margin: 0; padding: 0; list-style-type: none;}
	.menulist ul li {float: left; width: 100%; margin: 3px 0; padding: 0; font-size: 14px; line-height: 14px;}
	.actionbox3 {float: left; width: 70%; margin: 25px 15% 15px 15%; padding: 5px; background-color: #fff; color: #20a286; text-align: center; font-size: 18px; line-height: 18px; font-weight: lighter;}
	.actionbox3:hover {background-color: #fff; color: #000;}
	.tablecolumn:hover {box-shadow: 2px 2px 2px #d3d3d3;}

	.topnavheader {float: left; width: 100%; margin: 0; padding: 0; font-family: futura-pt, sans-serif; font-weight: 300; font-size: 20px; line-height: 20px; color: #fff;}
	.navlist {float: right; display: none;}
	.navlist ul {list-style-type: none; width: auto; margin: 25px 25px 0 0; padding: 0;}
	.navlist ul li {float: left; padding: 0 15px;}
	.navlist ul li a {color: #fff; font-weight: 700;}
	.navlist ul li a:hover {color: #f0c514; text-decoration: none;}
	.navlistmobile {float: right; display: inline; font-size: 16px; line-height: 16px;}
	.navlistmobile ul {list-style-type: none; width: auto; margin: 5px 5px 0 0; padding: 0;}
	.navlistmobile ul li {float: left; padding: 0 15px;}

	.whitespace {color: #fff;}

	.contactbox {float: left; font-family: futura-pt, sans-serif; width: 100%; margin: 0; padding: 25px 5%; background-color: #fff;}
	.contactbox h1 {float: left; width: 100%; text-align: left; margin: 25px 0; color: #000; font-size: 36px;}
	.contactbox ul {float: left; width: 100%; margin: 0; padding: 0; list-style-type: none;}
	.contactbox ul li {float: left; width: 100%; margin: 3px 0; padding: 0; font-size: 18px; line-height: 18px;}
}